openapi: 3.0.0
info:
  title: 存货人管理模块 API
  version: 1.0.0
  description: 供应链金融系统 - 存货人功能模块
servers:
  - url: https://api.scf-system.com/v1
    description: 生产环境
  - url: http://127.0.0.1:8080/v1
    description: 本地开发
components:
  schemas:
    ApiResp:
      type: object
      properties:
        code: { type: integer, example: 0 }
        message: { type: string, example: ok }
        data: { type: object }
    User:
      type: object
      required: [username, password, name, type, company_name, unified_social_credit_code]
      properties:
        id: { type: integer, format: int64, example: 1001 }
        username: { type: string, example: company001 }
        password: { type: string, format: password }
        name: { type: string, example: 张三 }
        type:
          type: string
          enum: [depositor, warehouse, financial, guarantee, qc, platform]
          example: depositor
        company_name: { type: string, example: 某某贸易有限公司 }
        unified_social_credit_code: { type: string, example: 91310000MA1KXXXXXX }
        status: { type: integer, enum: [0,1,2], description: 0禁用 1启用 2待审核, example: 1 }
    InboundReservation:
      type: object
      required: [target_warehouse_id, commodity_id, total_planned_quantity, measurement_unit]
      properties:
        reservation_number: { type: string, example: RSV20240115001 }
        depositor_id: { type: integer, format: int64 }
        target_warehouse_id: { type: integer, format: int64 }
        commodity_id: { type: integer, format: int64 }
        total_planned_quantity: { type: number, format: double, example: 120.5 }
        measurement_unit: { type: string, example: 吨 }
        expected_arrival_date: { type: string, format: date }
        status:
          type: string
          enum: [draft, submitted, warehouse_confirmed, platform_approved, fully_completed, cancelled]
          example: draft
        remarks: { type: string }
    InboundOrder:
      type: object
      required: [order_no, reservation_number, status]
      properties:
        order_no: { type: string, example: IN20240120001 }
        reservation_number: { type: string }
        status:
          type: string
          enum: [created, receiving, completed, cancelled]
          example: created
        received_quantity: { type: number, format: double, example: 118.8 }
        unit: { type: string, example: 吨 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    WarehouseReceipt:
      type: object
      required: [receipt_number, depositor_id, warehouse_id, commodity_id, quantity, measurement_unit, inbound_time]
      properties:
        id: { type: integer, format: int64 }
        receipt_number: { type: string }
        receipt_name: { type: string }
        depositor_id: { type: integer, format: int64 }
        warehouse_id: { type: integer, format: int64 }
        commodity_id: { type: integer, format: int64 }
        related_reservation_id: { type: integer, format: int64, nullable: true }
        quantity: { type: number, format: double }
        measurement_unit: { type: string }
        storage_location: { type: string, nullable: true }
        status:
          type: string
          enum: [pending, in_stock, pledged, frozen, transferring, outbound, completed]
        effective_start: { type: string, format: date-time }
        effective_end: { type: string, format: date-time }
    PledgeRecord:
      type: object
      required: [record_number, warehouse_receipt_id, storage_in_id, pledge_type, pledged_quantity, pledged_unit]
      properties:
        id: { type: integer, format: int64 }
        record_number: { type: string }
        warehouse_receipt_id: { type: integer, format: int64 }
        storage_in_id: { type: integer, format: int64 }
        pledge_type: { type: string, enum: [full_pledge, partial_pledge] }
        pledge_status: { type: string, enum: [active, frozen, released, disposed] }
        pledged_quantity: { type: number, format: double }
        pledged_unit: { type: string }
        pledged_value: { type: number, format: double }
        freeze_status: { type: string, enum: [frozen, partially_released, fully_released] }
  parameters:
    PaginationPage:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PaginationSize:
      name: pageSize
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 10 }
paths:
  /depositors/register:
    post:
      summary: 存货人注册
      tags: [用户管理]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: 注册成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      id: { type: integer, example: 1001 }
                      username: { type: string }
                      status: { type: integer, example: 1 }
  /inbound/reservations:
    post:
      summary: 新建入库预约
      tags: [入库管理]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InboundReservation' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }
    get:
      summary: 入库预约列表
      tags: [入库管理]
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationSize'
        - name: keyword
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items: { $ref: '#/components/schemas/InboundReservation' }
                      total: { type: integer, example: 100 }
  /inbound/reservations/{reservation_number}:
    get:
      summary: 入库预约详情
      tags: [入库管理]
      parameters:
        - name: reservation_number
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }
    put:
      summary: 更新入库预约
      tags: [入库管理]
      parameters:
        - name: reservation_number
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InboundReservation' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }
    delete:
      summary: 取消入库预约
      tags: [入库管理]
      parameters:
        - name: reservation_number
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }

  /inbound/orders:
    get:
      summary: 入库单列表
      tags: [入库管理]
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationSize'
        - name: reservation_number
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items: { $ref: '#/components/schemas/InboundOrder' }
                      total: { type: integer, example: 25 }

  /v1/warehouse-receipts:
    get:
      summary: 仓单列表
      tags: [仓单管理]
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationSize'
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items: { $ref: '#/components/schemas/WarehouseReceipt' }
                      total: { type: integer }
    post:
      summary: 新增仓单
      tags: [仓单管理]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WarehouseReceipt' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }

  /v1/warehouse-receipts/{id}:
    get:
      summary: 仓单详情
      tags: [仓单管理]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }

  /v1/pledges:
    post:
      summary: 创建质押记录
      tags: [质押管理]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PledgeRecord' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiResp' } } } }
    get:
      summary: 质押记录列表
      tags: [质押管理]
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationSize'
        - name: warehouse_receipt_id
          in: query
          schema: { type: integer, format: int64 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items: { $ref: '#/components/schemas/PledgeRecord' }
                      total: { type: integer }
